<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {{>nav}}
    <div class="container">
    <span id="s">IT'S ALL ABOUT WHAT <br>YOU CAN ACHIEVE</span> 
    </div>
    <img src="/img/w.jpg" alt=""/>
    <div class="c-c">
        <div class="c-pg">POPULAR GOALS</div> 
        <div class="c-c-s">
            <div class="c-c-b"></div>
            <div class="c-c-c"></div>
            <div class="c-c-n"></div>
       </div>
       <div class="c-c-b-t">
        <span id="c-c-t"> Lifting</span>
        <span id="c-c-c"> Cardio</span>
        <span id="c-c-n"> Nutrition</span>
       </div>
    </div>
    <div class="c-a">
        <div class="c-a-a">
            ABOUT EVNY
        </div>
        <div class="c-a-i">
        </div>
        <div class="c-a-m">
            
            We’re not here to carry you to fitness, 
         we’re here to motivate <br> you to carry yourself to your goals. <br> <br> <br>
        If you’re not sure what your goals are, or don’t know where to start <br> on your fitness journey, come in and speak to one of our qualified <br> trainers who can help you develop a plan.
        </div>
    </div>
    <div class="c-b">
        <div class="c-b-b">
            Are you ready to bring a change?
        </div>
        <div class="c-b-b-a">
           <a href="/login"><button> MAKE IT HAPPEN</button></a> 
        </div>
    </div>
</body>
</html>