<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div class="l-l">
        <div class="login">
            <div id="sl">EVNY</div>
            <form  method="post">
                <div class="login-cred">
                    <span class="su">Username<input type="text" name="username" /></span>
                    <span class="sp">Password<input type="text" name="pass" /> </span>
                </div>
                <div class="l-c">
                    <textarea id="l-c" placeholder="Your comments are valuble to us" name="comment"></textarea>
                </div>
                <button id="l-b">
                    CONNECT WITH US
                </button>
            </form>
        </div>
    </div>
</body>

</html>