<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div id="r-sl">EVNY</div>
    <div class="r-m">
        SIGN UP FOR A WORKOUT
    </div>
    <form method="post">
        <div class="r-login">
            <div class="r-login-cred">
                <span class="r-s">Email <span class="r-s-s"> *</span> <br>
                    <input type="text" class="i-r" name='email' /></span> <br>
                <span class="r-s">Username<span class="r-s-s"> *</span><br>
                    <input type="text" class="i-r" name='username'/></span> <br>
                <span class="r-s">Password<span class="r-s-s"> *</span><br>
                    <input type="text" class="i-r" name='pass'/> </span>
            </div>
            <button class="r-b">
                SUBMIT
            </button>
        </div>
    </form>

</body>

</html>